@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zhi+Mang+Xing&display=swap');
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.container{
    height:100vh;
    width:100%;
    background-image: url(media/loop.jpg);
    background-size: cover;
    background-position: center;
    position:relative;
}
.navbar{
    width:88%;
    margin:auto;
    padding:15px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    width: 140px;
    cursor:pointer;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 15px;
}
.cover{
    width: 250px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 6px solid rgb(236, 196, 21);
    box-shadow: 0 10px 60px;
    
}
.control{
    height: 30px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    align-items: center;
}
.lyric {
    font-size: 1rem;
    font-family: 'Zhi Mang Xing', cursive;;
    font-weight: bolder;
    line-height: 1.5;
    text-align: center;
    color: rgb(236, 237, 234);
    max-width: 300px;
    margin-top: 30px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}